$main-background-color: #ffffff;
$main-text-color: #000000;
$block-background-color: #E7E7E7;
$background-top-color: radial-gradient(circle, #DFBD42, #9ECA82, #DA6487);
$background-middle-block-color: #73BCAF;
$background-bottom-block-color: #738CBC;
$grid-gap: 24px;
