$main-background-color: #fff;
$main-text-color: #000;
$block-background-color: #e7e7e7;
$background-top-color: radial-gradient(circle, #dfbd42, #9eca82, #da6487);
$background-middle-block-color: #73bcaf;
$background-bottom-block-color: #738cbc;
$grid-gap: 24px;
